@page "/menu"
@using CateringApi.Helpers.Common.DTOs;
@using Catering_WebAssembly.Services;

@inject IMenuService MenuService

<PageTitle>Menu</PageTitle>

<h2>@Message</h2>

<div class="text-center">
	<h1><b>The Menu</b></h1>
</div>
<hr />

<div class="menu">
	@foreach (var category in Categories)
	{
		<div class="text-center">
			<h2><b>@category</b></h2>
		</div>
		<hr class="dashed-line" />
		foreach (var item in Menu.FoodItems.Where(f => f.Category!.Name == category))
		{
			<div class="item">
				<h2>@item.Name <span class="w3-right w3-tag w3-dark-grey w3-round">@item.Price.ToString("c")</span></h2>
				<p class="w3-text-grey">@item.Description</p>
				<button id="@item.Id" price="@item.Price" class="add-button">+</button>
			</div>
		}
		
	}
	<button class="submit-button">Place Order</button>
</div>

@*<div class="edit">
	<a asp-action="Edit" asp-route-id="@Model.MenuDto.Id" class="btn btn-outline-primary">Edit</a>
</div>
<div class="add-new">
	<a asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i> New Menu</a>
</div>

<a id="deleteLink" asp-action="Delete" asp-controller="Menus" asp-route-id="@Model.MenuDto.Id">Delete</a>
<button class="btn btn-danger" onclick="showDialog()">Delete</button>*@

@*else
{
<div class="row">
	<div class="col-md-6 offset-3 text-center">
		<h2>No Menu For Today Yet!</h2>
		<hr />
	</div>
</div>
}*@

@code {

	private bool _thereIsAMenu;
	protected List<string> Categories = new List<string> { "Salads, Entrees, Deserts, Beverages, Fruits" };
	protected MenuDto Menu = new();
	protected string Message = string.Empty;

	protected async override Task OnInitializedAsync()
	{
		var menu = await MenuService.GetForToday();

		if (menu is null || !menu.FoodItems.Any())
			_thereIsAMenu = false;
		else
		{
			Menu = menu;
		}

	}
}
